.container {
    width: 1062px;
    margin: 0 auto;
}

.header {
    padding: 70px 0;
}

.header .logotype,
.header .navigation {
    display: inline-block;
}

.header .navigation {
    float: right;
    margin: 6px 0;
}

.header .navigation a {
    text-decoration: none;
    margin: 5px 70px;
    font-family: 'Playfair Display', serif;
    color: #626262;
    text-transform: uppercase;
    font-size: 14px;
}

.header .navigation a:last-child {
    margin-right: 0;
}

.header .navigation a:hover {
    text-decoration: underline;
    color: black;
}

.header .logotype a {
    font-family: 'Inconsolata', monospace;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
}

.promo {
    background-image: url("../images/promo.jpg");
    width: 1062px;
    height: 465px;
}

.news-highlighted {
    padding: 85px;
}

.news-category {
    text-transform: uppercase;
    color: #b4ad9e;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 15px;
    font-weight: 500;
    margin-top: 0px;
}

.news-title {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #626262;
    font-weight: 500;
}

.news-content {
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 14px;
    margin-bottom: 50px;
    display: block;
}

.news-cta {
    border: none;
    background: none;
    color: #b4ad9e;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px;
    margin: -10px;
}

.news-cta:hover {
    background-color: #645a55;
}

.news {
    padding: 48px;
}

.news .news-item {
    width: 420px;
    display: inline-block;
    padding: 30px;
}

.news .news-item .news-item-image {
    margin-bottom: 30px;
}

.news .news-item .news-item-category {
    text-transform: uppercase;
    color: #b4ad9e;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 30px;
    font-weight: 500;
    margin-top: 0px;
}

.news .news-item .news-item-title {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #626262;
    font-weight: 500;
    margin-bottom: 40px;
}

.news .news-item .news-item-content {
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 14px;
    margin-bottom: 50px;
    display: block;
}