.container {
    width: 1062px;
    margin: 0 auto;
}

header {
    padding: 70px 0;
}

header .logotype,
header .navigation {
    display: inline-block;
}

header .navigation {
    float: right;
    margin: 6px 0;
}

header .navigation a {
    text-decoration: none;
    margin: 5px 70px;
    font-family: 'Playfair Display', serif;
    color: #626262;
    text-transform: uppercase;
    font-size: 14px;
}

header .navigation a:last-child {
    margin-right: 0;
}

header .navigation a:hover {
    text-decoration: underline;
    color: black;
}

header .logotype a {
    font-family: 'Inconsolata', monospace;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
}

.promo {
    background-image: url("../images/promo.jpg");
    width: 1062px;
    height: 465px;
}

.news-highlighted {
    padding: 85px;
}

.news-category {
    text-transform: uppercase;
    color: #b4ad9e;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 15px;
    font-weight: 500;
    margin-top: 0px;
}

.news-title {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #626262;
    font-weight: 500;
    text-decoration: none;
}

.news-content {
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 14px;
    margin-bottom: 50px;
    display: block;
}

.news-cta {
    border: none;
    background: none;
    color: #b4ad9e;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px;
    margin: -10px;
}

.news-cta:hover {
    background-color: #645a55;
}

.news {
    padding: 48px;
}

.news .news-item {
    width: 420px;
    display: inline-block;
    padding: 30px;
}

.news .news-item .news-item-image {
    margin-bottom: 30px;
}

.news .news-item .news-item-category {
    text-transform: uppercase;
    color: #b4ad9e;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 30px;
    font-weight: 500;
    margin-top: 0px;
}

.news .news-item .news-item-title {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #626262;
    font-weight: 500;
    margin-bottom: 40px;
}

.news .news-item .news-item-content {
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 14px;
    margin-bottom: 50px;
    display: block;
}

.middle-container {
    display: block;
    height: 280px;
    margin-bottom: 105px;
}

.newsletter {
    background-color: #f0f0f0;
    width: 100%;
    height: inherit;
    position: absolute;
    left: 0;
}

.newsletter-content {
    width: 404px;
    margin: 0 auto;
    padding: 70px 0;
}

.newsletter-content-title {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 100;
    color: #333333;
}

.newsletter-content-email {
    width: 360px;
    height: 39px;
    border-top: 0px solid black;
    border-bottom: 1px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black;
    background: none;
    font-family: 'Playfair Display', serif;
    display: flex;
    outline: none;
    padding: 0;
}

.newsletter-content-button {
    width: 35px;
    height: 39px;
    border-top: 0px solid black;
    border-bottom: 1px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black;
    padding: 0;
    margin: 0;
    display: flex;
    background-image: url("../images/send-email-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px 18px;
    outline: none;
}

.newsletter-content-subscription {
    display: flex;
    align-items: center;
}


.bottom-news {
}

.bottom-news .bottom-news-item {
    width: 420px;
    display: inline-block;
    padding: 0 30px;
}

.bottom-news .bottom-news-item .bottom-news-item-image {
    margin-bottom: 30px;
}

.bottom-news .bottom-news-item .bottom-news-item-category {
    text-transform: uppercase;
    color: #b4ad9e;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 30px;
    font-weight: 500;
    margin-top: 0px;
}

.bottom-news .bottom-news-item .bottom-news-item-title {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #626262;
    font-weight: 500;
    margin-bottom: 40px;
}

.bottom-news .bottom-news-item .bottom-news-item-content {
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 14px;
    margin-bottom: 50px;
    display: block;
}

.bottom-news-button-container {
    display: flex;
    justify-content: center;
    margin: 170px;
}

.bottom-news-button {
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 20px;
    background: none;
    padding: 15px 26px;
    border: 1px solid #626262;
}

footer {

    display: block;
}

footer .footer-content {
    background-color: #f0f0f0;
    position: absolute;
    width: 100%;
    left: 0;
}

footer .footer-content-container {
    width: 1062px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 0 45px;
}

footer .footer-content-links a {
    text-decoration: none;
    color: #626262;
    font-size: 14px;
    font-family: "Playfair Display";
    margin-right: 17px;
}

footer .footer-content-social-media-icons {
    display: inline-block;
}

footer .footer-content-social-media-icons a {
    margin-left: 16px;
}

footer .footer-content-social-media a {
    text-decoration: none;
    color: #626262;
    font-family: "Playfair Display";
}

.share-on-social-media {
    display: flex;
    justify-content: flex-end;
    /*background-repeat: no-repeat;*/
}

.share-news {
    text-transform: uppercase;
    font-family: "Playfair Display";
    color: #626262;
}

.share-on-social-media-icons .facebook,
.share-on-social-media-icons .twitter,
.share-on-social-media-icons .google-plus,
.share-on-social-media-icons .tumblr,
.share-on-social-media-icons .instagram {
    text-decoration: none;
    margin-left: 15px;
}

